.profile {
  width: 250px;
  border: 1px #dddddd solid;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.description {
  padding: 30px;
  text-align: center;
  border-bottom: 1px #dddddd solid;
  background-color: #ffffff;
}

.avatar {
  margin-bottom: 25px;
  width: 100px;
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.tag,
.location {
  margin-bottom: 5px;
  color: grey;
  font-size: 14px;
}

.stats {
  display: flex;
  text-align: center;
  background-color: #eeeeee;
}

.stats li {
  padding: 15px;
  flex-basis: 33.33333%;
  flex-shrink: 0;
}

.stats li:not(:last-child) {
  border-right: 1px #dddddd solid;
}
.stats span {
  display: block;
}

.label {
  margin-bottom: 5px;
  color: grey;
  font-size: 12px;
}

.quantity {
  font-size: 14px;
  font-weight: 600;
}
