.transactionHistory {
  width: 90%;
  border: 1px #eeeeee solid;
  border-collapse: collapse;
  background-color: #fff;
}

.transactionHistory thead {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  background-color: DarkTurquoise;
}

.transactionHistory th,
.transactionHistory td {
  padding: 15px;
}

.transactionHistory th:not(:last-child) {
  border-right: 1px lightblue solid;
}

.transactionHistory td {
  border-right: 1px #eeeeee solid;
}

.transactionHistory tbody {
  text-align: center;
  text-transform: capitalize;
  color: gray;
}

.transactionHistory tr:nth-child(2n) {
  background-color: Gainsboro;
}
